:root{
    --primary-color:#1b1c1e;
    --text-color:#9e9e9e;
    --border-color:#d2d0d0;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth scroll;
}

body{
    background-color: #e1e2e6;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1092px;
    background-color: #fff;
    border-radius: 4px;
    margin:20px auto 0;
    display: flex;
}

.form{
    width:40%;
    margin:40px 30px 40px 50px; 
}

/* Heading */
.heading{
    margin-top: 10px;
    padding:0 10px;
    text-align: center;
}
.heading h3{
    font-size: 32px;
    color:var(--primary-color);
    font-weight: 700;
}
.heading p{
    margin:6px 0 14px;
    font-size: 14px;
    color:var(--text-color);
    font-weight: 300;
}
/* Another Sign Up */
.another-sign-up{

}
.sign-up--item{
    padding:8px;
    text-align: center;
    border: 0.8px solid var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.05) 0px 1px 1px;
    border-radius: 3px;
    cursor: pointer;
}
.sign-up--item-icon{
    width:16px;
    height:16px;
    transform: translateY(3px);
}
.sign-up--item span{
    margin-left: 4px;
    line-height: 16px;
    font-size: 14px;
    color: var(--primary-color);
}
.saperator{
    position: relative;
    color: var(--text-color);
    font-size: 14px;
    text-align: center;
    margin:16px 0;
}
.saperator::before{
    content: "";
    position: absolute;
    top:calc(50% - 1px);
    left:1px;
    right:54%;
    border: 1px solid var(--border-color);
}
.saperator::after{
    content: "";
    position: absolute;
    top:calc(50% - 1px);
    left:54%;
    right:1px;
    border: 1px solid var(--border-color);
}
/* Form Group */
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    position: relative;
}

.form-label{
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 540;
}
.form-control{
    margin: 4px 0;
    font-size: 12px;
    padding:12px;
    color: #575757;
    border-radius: 3px;
    border: 0.8px solid var(--border-color);
    outline: none;
    /* outline-color: var(--primary-color);
    outline-width: 0.8px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.05) 0px 1px 1px;
}
.form-control:hover{
    border-color: var(--primary-color);
}

.form-group.invalid .form-control{
    border-color:#f33a58;
    border-width:1px;
}
.form-group.invalid .form-message {
    color: #f33a58;
  }
.form-message{
    font-size: 12px;
}

.show-hide-password{
    position: absolute;
    right:16px;
    top:32px;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
}
.show-hide-password.active .hide-password-icon{
    display: none;
}
.show-hide-password.active .show-password-icon{
    display: inline-block;
}
.show-hide-password .hide-password-icon{
    display: inline-block;
}
.show-hide-password .show-password-icon{
    display: none;
}

/* Terms and Policy */
.term-policy{
   margin-bottom: 24px;
}
.term-policy input{
    transform: translateY(3px);
}
.term-policy span{
    padding-left: 2px;
    text-align: left;
    font-size: 12px;
}
/* Button Submit */
.form-submit{
    padding:12px;
    background-color: var(--primary-color);
    color:#fff;
    text-align: center;
    width: 100%;
    border:none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}
.form-submit:hover{
    opacity: 0.9;
}
/* Form Footer */
.form-footer{
    margin-top: 16px;
    margin-bottom: 32px;
    color: var(--text-color);
    font-size: 13px;
    text-align: center;
}
.form-footer span{
    color: var(--primary-color);
    font-weight:bold;
    cursor: pointer;
}
/* Introduction */
.intro{
    width: 60%;
    background-color: var(--primary-color);
    margin: 20px;
    border-radius:4px;
    text-align: center;
}
.intro-heading{
    font-size: 28px;
    font-weight: 550;
    color: #fafafd;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 32px;
}
.intro-desc{
    font-size:12px;
    color: var(--text-color);
    margin:12px 50px;
}
.intro-list-img{
    position: relative;
    margin-top: 40px;
    margin-bottom: 8px;
    z-index: 1;
}
.intro-img{
    width:450%;
    max-width: 80%;
    height:400px;
    max-height: 60%;
    border-radius: 20px;
}
.intro-img:hover{
    transform: scale(1.005);
}
.intro .btn-back{
    position: absolute;
    left:16px;
    top:50%;
}
.intro .btn-next{
    position: absolute;
    right:16px;
    top:50%;
}
.intro .btn{
    padding:4px 6px;
    font-size: 16px;
    color: var(--text-color);
    filter: brightness(110%);   
}
.intro .btn:hover{
    filter: brightness(175%);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px, rgba(255, 255, 255, 0.1) 0px 1px 1px;
    cursor: pointer;
    transform: scale(1.25);
}

/* Image Pagination */
.img-pagination{
}
.img-index{
    font-size: 8px;
    padding:0 4px;
    transition: all ease-in 0.2s;
}
.img-index.active .img-index-fill{
    display: inline-block;
}
.img-index.active .img-index-empty{
    display: none
}
.img-index .img-index-fill{
    color: #fff;
    display: none;
}
.img-index .img-index-empty{
    color:var(--text-color);
    display: inline-block;
}
